In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('rape_rates-wide.csv')

In [7]:
df

                State  2011   2012    2013   2014   2015   2016   2017
0      Andhra Pradesh  33.4  66.05   76.25   65.1   62.3   63.5   68.9
1   Arunachal Pradesh  12.4  33.67   47.68   57.4   62.1   58.7   53.4
2               Assam  36.9  89.54  113.93  123.4  148.2  131.3  143.6
3               Bihar   9.9  23.41   28.00   31.3   27.9   26.6   28.8
4        Chhattisgarh  16.5  34.38   56.28   31.3   44.8   45.9   61.1
5                 Goa   8.7  23.01   49.49   53.9   39.9   40.5   39.9
6             Gujarat  14.6  33.58   42.63   37.2   26.3   28.7   27.0
7             Haryana  21.7  50.31   75.04   73.0   75.7   77.8   88.7
8    Himachal Pradesh  14.5  27.13   43.61   44.4   37.4   35.2   35.7
9     Jammu & Kashmir  25.1  58.60   60.99   57.0   57.0   47.8   51.9
10          Jharkhand   9.5  29.16   41.26   37.4   40.2   33.2   35.6
11          Karnataka  15.7  34.92   40.11   46.0   41.6   45.8   45.2
12             Kerala  33.8  61.21   62.43   63.0   53.4   54.9   60.2
13     Madhya Pradesh  22.9  47.75   61.64   79.0   65.5   71.1   78.6
14        Maharashtra  14.0  29.87   44.90   47.6   54.8   54.6   55.0
15            Manipur   9.1  24.64   22.84   26.7   20.8   19.6   18.1
16          Meghalaya   9.1  19.38   25.75   28.8   24.5   27.0   40.7
17            Mizoram  15.3  40.20   35.40   51.0   30.9   23.2   57.6
18           Nagaland   1.9   4.70    6.10    6.0    8.0    9.2    6.9
19             Odisha  22.5  58.79   68.90   70.4   81.9   84.5   94.5
20             Punjab   9.5  24.98   38.16   41.1   39.7   38.0   34.1
21          Rajasthan  29.0  63.75   83.13   91.4   81.5   78.3   73.3
22             Sikkim   9.0  23.29   31.53   36.9   17.6   50.3   53.1
23         Tamil Nadu   9.6  21.23   21.93   18.4   17.0   12.9   15.5
24          Telangana   0.0   0.00    0.00   78.3   83.1   83.7   94.7
25            Tripura  37.0  86.95   89.75   88.0   68.2   53.9   51.2
26      Uttar Pradesh  11.3  24.25   32.93   38.3   34.8   47.5   53.2
27        Uttarakhand   9.8  21.50   34.18   27.4   28.2   30.4   36.8
28        West Bengal  31.9  70.30   67.14   85.4   73.4   71.2   67.3
29              Delhi  31.2  69.75  146.79  169.1  184.3  160.4  133.3
30         all_states  18.7  41.40   50.86   54.7   52.0   53.6   56.8
31              Total  18.9  41.74   52.24   56.3   53.9   55.2   57.9

In [21]:
pd.wide_to_long(df, i='State', j='Year',stubnames='').to_csv('rape_states-long.csv')

In [22]:
pd.read_csv('rape_states-long.csv')

                 State  Year  Unnamed: 2
0       Andhra Pradesh  2011        33.4
1    Arunachal Pradesh  2011        12.4
2                Assam  2011        36.9
3                Bihar  2011         9.9
4         Chhattisgarh  2011        16.5
..                 ...   ...         ...
219        Uttarakhand  2017        36.8
220        West Bengal  2017        67.3
221              Delhi  2017       133.3
222         all_states  2017        56.8
223              Total  2017        57.9

[224 rows x 3 columns]